node_modules/

# Laravel 4 specific
/vendor
# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

vendor/

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
